---
layout: default
---
<div class="post-content well">
    <article class="content">
        <div class="post">${content}</div>
        <hr/>
        ${include "share-page.html"}
    </article>
    <hr/>

    <div class="panel-body">
        <h4>Related Posts</h4>
        <ul>
            <% page.related.each { post -> %>
            <li class="relatedPost">
                <a href="${post.url}">${post.title}</a>
                <span>( Categories:
                <% post.categories.each { cat -> %>
                    <a href="${link ('/categories/' + cat.encodeAsSlug())}/">${cat.toLowerCase()}</a>
                    <% } %>)
                </span>
            </li>
            <% } %>
        </ul>
    </div>

    <div class="PageNavigation">
        <% if (page.prev_post?.url) { %>
        <a class="prev pull-left" href="${link page.prev_post.url}">&laquo; ${page.prev_post.title}</a>
        <% } %>
        <% if (page.next_post?.url) { %>
        <a class="next pull-right" href="${link page.next_post.url}">${page.next_post.title} &raquo;</a>
        <% } %>
    </div>
    <br/>

    <% if (site.social.disqus_username && page.comments == true) { %>
    <section>
        <h1>Comments</h1>
        <div id="disqus_thread" aria-live="polite">${include "disqus.html"}</div>
    </section>
    <% } %>

</div>