---
layout: default
---
<div class="post-content well">
    <article class="content">
        <div class="post">${content}</div>
        <hr/>
        ${include "share-page.html"}
    </article>
    <% page.posts.each { cat -> %>
    ${cat.title}
    <% } %>
    <hr/>

    <% def hasSimilar = 0
    page.posts.each { -> post
    def postHasSimilar = false
    post.categories.each { -> tag
    page.categories.each { -> thisTag
    if (postHasSimilar == false && hasSimilar.size < 6 && post != page && tag == thisTag) {
    if (hasSimilar.size == 0) { %>
    <div class="panel-body">
        <h4>Related Posts</h4>
        <ul>
            <% } %>
            <li class="relatedPost">
                <a href="${site.url}${post.url}">${post.title}</a>
                <% if (post.categories) { %>
                <small>(Categories: <% post.categories.each { -> category %><a href="/category/${category}">${category}</a>
                    <% if (post.categories.last() != category) { %>, <% } %>
                    <% } %>)
                </small>
                <% } %>
            </li>
            <% hasSimilar++
            postHasSimilar = true } } } }
            if (hasSimilar > 0) { %>
        </ul>
    </div>
    <% } %>
    <div class="PageNavigation">
        <% if (page.prev_post?.url) { %>
        <a class="prev pull-left" href="${link page.prev_post.url}">&laquo; ${page.prev_post.title}</a>
        <% } %>
        <% if (page.next_post?.url) { %>
        <a class="next pull-right" href="${link page.next_post.url}">${page.next_post.title} &raquo;</a>
        <% } %>
    </div>
    <br/>


    <div class="disqus-comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        /* <![CDATA[ */

        var disqus_shortname = "{{ site.disqus_shortname }}";
        var disqus_identifier = "{{ site.url }}_{{ page.title }}";
        var disqus_title = "{{ page.title }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    /* ]]> */



        </script>
    </div>
</div>