---
layout: default
---
<div class="post-content well">
    <article class="content">
        <div class="post">${content}</div>
        <hr/>
        ${include "share-page.html"}
    </article>
    <hr/>

    <div class="panel-body">
        <h4>Related Posts</h4>
        <ul>
            <% page.related.each { post -> %>
            <li class="relatedPost">
                <a href="${post.url}">${post.title}</a>
                <span>( Categories:
                <% post.categories.each { cat -> %>
                    <a href="${link ('/categories/' + cat.encodeAsSlug())}/">${cat.toLowerCase()}</a>
                    <% } %>)
                </span>
            </li>
            <% } %>
        </ul>
    </div>

    <div class="PageNavigation">
        <% if (page.prev_post?.url) { %>
        <a class="prev pull-left" href="${link page.prev_post.url}">&laquo; ${page.prev_post.title}</a>
        <% } %>
        <% if (page.next_post?.url) { %>
        <a class="next pull-right" href="${link page.next_post.url}">${page.next_post.title} &raquo;</a>
        <% } %>
    </div>
    <br/>


    <div class="disqus-comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        /* <![CDATA[ */

        var disqus_shortname = "{{ site.disqus_shortname }}";
        var disqus_identifier = "{{ site.url }}_{{ page.title }}";
        var disqus_title = "{{ page.title }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    /* ]]> */


        </script>
    </div>
</div>