---
layout: default
---

<article class="post">

    <div class="post-content">
        ${content}

        <div class="projects row">
            ${include "project_tags.html"}
            <% for (i in page.projects) { %>
            <div class="project-item col-md-4 col-sm-6 col-xs-12" data-tags='${i.tags.collect { '"' + it + '"'}.toString().toLowerCase() }'>
                <div class="well project-outer">
                    <div class="project-inner">
                        <a href="${i.image}" class="thickbox">
                            <div class="project-img bordered" style="background-image: url('${i.image}');"></div>
                        </a>
                        <% if (i.url) { %> <a href="${i.url}" target="_blank"> <% } %>
                        <h3 class="project-headlines">${i.name}</h3>
                        <% if (i.url) { %> </a> <% } %>
                        <div class="project-content">
                            <div class="tag-holder">
                                <% if (i.tags) { %>
                                <% for (j in i.tags) { %>
                                <span class="label tags tag-filter" data-tag="${j.toLowerCase()}">${j}</span>
                                <% } %>
                                <% } %>
                            </div>

                        </div>
                        <div class="project-footer">
                            <% if (i.url) { %>
                            <a href="${i.url}" target="_blank" class="btn btn-info btn-raised btn-sm project-link">View</a>
                            <% } %>
                            <% if (i.date) { %>
                            <span class="project-timeline">${i.date}</span> <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>

</article>
